<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{header}}</h4>
  <button type="button" class="close-button" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div *ngFor="let input of inputs">
      <label for="{{input.name}}">{{input.label}}</label>
      <input
        id="{{input.name}}"
        type="{{input.type}}"
        *ngIf="input.type !== 'select'"
        [value]="input.value ?? ''"
        [formControlName]="input.name"
        class="form-control"
      />
      <select
        id="{{input.name}}"
        *ngIf="input.type === 'select'"
        [formControlName]="input.name"
        [multiple]="input?.multiple ?? false"
        class="form-control"
      >
        <option
          [value]="null"
        >
          Не выбрано
        </option>
        <option
          *ngFor="let option of input.options"
          [selected]="input.value === option.id"
          [value]="option.id"
        >{{option.title}}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" (click)="close()">Отмена</button>
  <button class="btn" (click)="createOrUpdate()">Сохранить</button>
</div>

