<div class="header">Ведомость</div>
<form [formGroup]="statementForm" (ngSubmit)="showExported()">
  <span>Предмет:</span>
  <select
    class="form-control"
    [formControl]="statementForm.controls.subject"
  >
    <option
    *ngFor="let subject of subjects"
    [value]="subject.id"
    >{{subject.name}}</option>
  </select>
  <span>Группа:</span>
  <select
    class="form-control"
    [formControl]="statementForm.controls.group"
  >
    <option
      *ngFor="let group of groups"
      [value]="group.id"
    >{{group.name}}</option>
  </select>
  <button class="btn" type="submit">
    <ng-icon class="mr-1" name="heroMagnifyingGlass"/>Получить ведомость</button>
</form>
<div class="d-flex justify-content-end align-items-center mb-1">
  <button
    *ngIf="statements"
    class="btn"
    type="button"
    (click)="export()"
  ><ng-icon class="mr-1" name="heroArrowDownTray"/>Экспорт</button>
</div>
<table *ngIf="statements">
  <thead>
    <th>Студент</th>
    <th>Группа</th>
    <th>Дисциплина</th>
    <th>Тип контроля</th>
    <th>Оценка</th>
    <th>Дата выставления оценки</th>
    <th>Дополнительная информация</th>
  </thead>
  <tbody>
    <tr *ngFor="let statement of statements">
      <td>
        {{statement.student}}
      </td>
      <td>
        {{statement.group}}
      </td>
      <td>
        {{statement.discipline}}
      </td>
      <td>
        {{statement.type}}
      </td>
      <td>
        {{statement.value}}
      </td>
      <td>
        {{statement.date}}
      </td>
      <td>
        {{statement.note}}
      </td>
    </tr>
  </tbody>
</table>
