<div
  [ngClass]="{
      'sidebar': true,
      'sidebar-collapsed': collapsed
    }">
  <div>
    <div
      (click)="router.navigate([''])"
      class="header"
    >
      <span>
              <ng-icon class="icon-size" name="heroAcademicCap"/>
      <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Электронная зачетка</span>
      </span>
    </div>
    <ul class="menu-list">
      <li class="nav-element" (click)="router.navigate(['./profile'])">
                      <span>
                <ng-icon class="icon-size" name="heroUserCircle"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Профиль</span>
                    </span>

      </li>
      <li class="nav-element" (click)="router.navigate([''])">
                      <span>
                <ng-icon class="icon-size" name="heroClipboardDocumentList"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Ведомость</span>
                    </span>

      </li>
      <li class="nav-element" (click)="router.navigate(['./institutes'])">
                      <span>
                <ng-icon class="icon-size" name="heroBuildingLibrary"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
                    }">Институты </span>
            </span>
      </li>
      <li class="nav-element" (click)="router.navigate(['./groups'])">
                      <span>
                <ng-icon class="icon-size" name="heroUserGroup"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Группы</span>
                    </span>

      </li>
      <li class="nav-element" (click)="router.navigate(['./subjects'])">
                      <span>
                <ng-icon class="icon-size" name="heroBookOpen"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Предметы</span>
                    </span>

      </li>
      <li class="nav-element" (click)="router.navigate(['./users'])">
                      <span>
                <ng-icon class="icon-size" name="heroUser"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Пользователи</span>
                    </span>

      </li>
      <li class="nav-element" (click)="router.navigate(['./marks'])">
                      <span>
                <ng-icon class="icon-size" name="heroCheck"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Оценки</span>
                    </span>

      </li>
      <li class="nav-element" (click)="router.navigate(['./control-types'])">
                      <span>
                <ng-icon class="icon-size" name="heroDocumentCheck"/>
                <span [ngClass]="{
      'label': true,
      'label-collapsed': collapsed
    }">Типы контроля</span>
                    </span>

      </li>
    </ul>
  </div>
  <button class="w-100 d-flex justify-content-center collapse-button" (click)="collapse()">
    <ng-icon class="icon-size" [ngClass]="{
      'collapse-button-icon': true,
      'collapse-button-icon-collapsed': collapsed
    }" name="heroArrowLongLeft"/>
  </button>
</div>
