$main-color: #F5F5F5;
$secondary-color-1: #AFDA69;
$secondary-color-2: #C7E596;
$secondary-color-3: #DAEDB8;
$secondary-color-4: #F3B9B4;
$secondary-color-5: #E6E6E6;
$primary-text-color: black;
$secondary-text-color: grey;
$offset-collapsed: 4rem;
$offset: 20rem
