<div class="header">{{header}}</div>
<div class="list-item" *ngFor="let item of listItems">
  <span class="main-text">{{item.text}}</span>
  <span class="additional-text">{{item.additionalText}}</span>
  <div class="buttons">
    <button class="action" *ngFor="let action of actions" (click)="action.action(item.id)">
      <ng-icon name="{{action.icon}}"/>
    </button>
  </div>
</div>
<div class="bottom-panel-container" *ngIf="addAction">
  <div class="bottom-panel">
    <button
      class="add-action"
      (click)="addAction.action()"
    >
      <ng-icon name="{{addAction.icon}}"/>
    </button>
    <app-pagination
      *ngIf="totalPages"
      [totalPages]="totalPages"
      [showedPageNumber]="showedPages"
      (onPageChange)="onPageChange.emit($event)"
    >
    </app-pagination>
    <button class="add-action opacity-0">
      <ng-icon name="{{addAction.icon}}"/>
    </button>
  </div>
</div>

