@import "../variables.scss";

.close-button {
  background-color: transparent;
  border: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}

.btn:hover {
  background-color: $secondary-color-5;
  transition: all .5s ease;
}
